@import "~primereact/resources/primereact.min.css";

.rental__window__form__container {
  width: 100%;
}
.rental__window__form__container form {
  display: flex;
}
.form__main {
  width: 50%;
  height: 100%;
  padding: 40px;
  font-size: 15px;
}
.form__calendar__header,
.form__main__header {
  font-size: 26px;
  color: white;
  text-align: center;
}
.error {
  font-size: 12px;
  margin: 0 10px 0 10px;
  color: #ff2c2c;
  font-style: italic;
  font-weight: 100;
}
.form__main__block {
  padding: 15px 0 0 0;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}
.form__main__block label {
  color: white;
}
.form__main__block__input {
  width: 300px;
  border: 3px solid rgba(0, 0, 0, 0) !important;
  border-radius: 5px;
}
.form__main__block__input__error {
  width: 300px;
  border: 3px solid #ff2c2c !important;
  border-radius: 5px;
}
.kilometres {
  background-color: white !important;
  outline: none;
  margin-top: 10px;
  height: 10px !important;
  width: 300px;
}
.form__calendar {
  padding: 40px;
  width: 50%;
  height: 100%;
  text-align: center;
}
.calendar {
  margin: 20px 0 0 0;
}
.p-datepicker {
  padding: 0 !important;
  border: 0 !important;
}
.p-datepicker .p-datepicker-header {
  padding: 0 !important;
}
.p-datepicker table td {
  padding: 1px !important;
}
.p-datepicker table th {
  padding: 0 !important;
}
.submit__button {
  margin: 20px 0 0 0;
  font-size: 26px;
  border-radius: 15px;
  padding: 10px 20px;
  background-color: var(--green);
  color: white;
  cursor: pointer;
  transition: 0.2s;
  border: none;
  outline: none;
}
.submit__button:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

@media (width<=1300px) {
  .form__calendar__header,
  .form__main__header {
    font-size: 25px;
  }
  .form__main {
    padding: 20px;
    width: 40%;
  }
  .form__main__block__input {
    width: 100%;
  }
  .form__main__block__input__error {
    width: 100%;
  }
  .p-slider {
    width: 100%;
  }
  .form__calendar {
    padding: 20px;
    width: 60%;
  }
  .p-datepicker table td {
    padding: 1px !important;
  }
}
@media (width<=480px) {
  form {
    flex-direction: column;
  }
  .form__main {
    width: 100%;
  }
  .form__calendar {
    width: 100%;
  }
  .form__main__header,
  .form__calendar__header {
    font-size: 14px;
    margin: -10px;
  }
  .form__main__block {
    padding: 2px;
  }
  .form__main__block label {
    font-size: 12px;
  }
  .p-inputtext {
    font-size: 12px !important;
    padding: 1px !important;
  }
  .kilometres {
    height: 8px !important;
    width: 100%;
  }
  .p-steps {
    margin-top: 10px !important;
    font-size: 8px !important;
    width: 80%;
    left: 30px;
  }
  .p-steps-number {
    font-size: 12px !important;
    min-width: 15px !important;
    height: 15px !important;
  }
  .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year,
  .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
    font-size: 12px !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .p-datepicker table {
    font-size: 12px !important;
    border-spacing: 0 !important;
  }
  .p-datepicker table {
    line-height: 2px;
  }
  .p-datepicker table td {
    padding: 0 !important;
  }
  .p-datepicker table tr {
    margin: 0 !important;
  }
  .submit__button {
    font-size: 15px;
  }
}
