@import url("/src/utils/colors.css");
header {
  background-color: var(--gray);
  color: var(--background);
  font-size: 32px;
  padding: 10px;
}
@media (width<=1024px) {
  header {
    font-size: 26px;
    padding: 8px;
  }
}
@media (width<=480px) {
  header {
    font-size: 20px;
    padding: 6px;
  }
}
